target/
!target/*.jar
build/
icons/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.env

.git
.gitignore

*.log
*.tmp
*.swp
*.bak
*.old

HELP.md
